[submodule "tailwind-react-ts"]
	path = tailwind-react-ts
`	url = https://github.com/fdd-startup/tailwind-react-ts

[submodule "jetpack-compse-boilerplate"]
	path = jetpack-compose-boilerplate
	url = https://github.com/fdd-startup/jetpack-compose-boilerplate
